{% extends 'blog/base.html' %}
{% block content %}
    <div id="content" class="single">
        <div class="post">
            <h2>What? Who? Why?</h2>
            <div class="text">
                <p><img src="/static/images/about-image.jpg"/></p>
                <p>To all educational institutions, students are not assets, not capital.&nbsp;Students have the capacity to think and to voice out opinions independently without affiliation to any political parties and councils. &nbsp;</p>
                <p>Initiated by several like-minded students from The University of Nottingham Malaysia Campus (UNMC) in 2011, <em>Students in Resistance</em> has since widened its outreach and has been receiving contributions from undergraduates, postgraduates, as well as writers from and beyond UNMC. &nbsp;&nbsp;</p>
                <p><em>Students in Resistance</em> is not just a group. It is a radical platform, a laboratory &ndash; experimental and organic. Contributions from students are highly encouraged.&nbsp;Writers may come and go.&nbsp;The aim is to ignite sparks, to trigger debates.&nbsp;</p>
                <p>Our zines are usually distributed for free in selected universities in Malaysia. Each zine can also be downloaded online in PDF format. This initiative is entirely funded and managed by students with occasional donation from the public.</p>
            </div>
        </div>
    </div>
{% endblock %}