{% extends 'blog/base.html' %}
{% block content %}

<div id="content" class="single">
    <div class="post">
        {% if form.errors %}
        <p style="color:red;">Your username and password didn't match. Please try again.</p>
        {% endif %}
    
        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. Contact your administator to gain access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
        <h3>Login</h3>
            <form id="login_form" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                </table>

                <input type="submit" value="login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
            <p>New? Register <a href="{% url 'accounts:registration' %}">here</a></p>
            {#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
    </div>
</div>

{% endblock %}