{% extends 'blog/base.html' %}
{% block content %}

<div id="content" class="single">
    <div class="post">
        {% if registered %}
            <h3>Thank you for registering</h3>
        {% else %}
            <h3>Register</h3>

        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="" value="Register">
        {% endif %}
        
    </div>
</div>

{% endblock %}